 <%= form_for @task do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'Cooking' %>
  </div>

  <div>
    <%= f.label :details %>
    <%= f.text_field :details, placeholder: 'carrots' %>
  </div>

  <%= f.submit %>
 <% end %>
